{% extends 'base.html' %}


{% block content %}

<br />
<div class="card" style="background-color:rgb(246, 255, 240)">
    <div class="card-body">
        <h1 class="card-title" style="text-align:center">Registration</h1>
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="id_title">{{ form.username.label }}</label>
                {{ form.username }}
            </p>
            <p>
                <label for="id_first_name">{{ form.first_name.label }}</label>
                {{ form.first_name }}
            </p>
            <p>
                <label for="id_password1">{{ form.password1.label }}</label>
                {{ form.password1 }}
            </p>
            <p>
                <label for="id_password2">{{ form.password2.label }}</label>
                {{ form.password2 }}
            </p>
            <button type="submit" class="btn btn-outline-success">Register!</button>
            <a href="{% url 'login' %}" class="btn btn-outline-primary">Login page</a>
        </form>
    </div>
</div>

{% endblock %}