{% extends 'base.html' %}


{% block content %}
<br />
<div class="card">
    <div class="card-body">
        <a href="{% url 'notes' %}" class="btn btn-outline-dark btn-sm">Back to notes</a>
        <a href="{% url 'edit' pk=task.pk %}" class="btn btn-outline-dark btn-sm">Edit task</a>
        <h2 class="card-title">• {{ task.title }}</h2>
        {% if task.importance.name == 'Just' %}
        <small class="badge text-bg-primary">{{ task.importance.name }}</small>
        {% elif task.importance.name == 'Urgently' %}
        <small class="badge text-bg-warning">{{ task.importance.name }}</small>
        {% endif %}
        <br />
        <small class="card-text">Time created: {{ task.time_created|date:'l H:i j:m:Y' }}</small>
        {% if task.time_updated != task.time_created %}
        <br />
        <small class="card-text">Time updated: {{ task.time_updated|date:'l H:i j:m:Y' }}</small>
        {% endif %}
        <hr />
        <p class="card-text">{{ task.description|linebreaksbr|safe }}</p>
        {% if task.description != '' %}
        <hr />
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-check form-switch">
                {{ form.complete }}
                <label class="form-check-label" for="id_complete">Task is complete?</label>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-sm">Apply</button>
        </form>
        <hr />
        <a href="{% url 'delete' task.pk %}" class="btn btn-outline-danger btn-sm">Delete task</a>
    </div>

</div>

{% endblock %}