{% extends 'base.html' %}


{% block content %}
<h1 style="text-align:center">Notes</h1>
<div class="container">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'add' %}" class="btn btn-outline-success">Add task</a>
    </div>
</div><br />
<div class="card">
    <div class="list-group">
        {% for task in tasks %}
        <a href="{% url 'detail' task.pk %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ task.title }}</h5>
                {% if task.time_created == task.time_updated %}
                <small>{{ task.time_created|date:'l | H:i | j.m.Y' }}</small>
                {% else %}
                <small>Updated: {{ task.time_updated|date:'l | H:i | j.m.Y' }}</small>
                {% endif %}
            </div>
            {% if task.importance.name == 'Just' %}
            <small>Importance: </small><small class="badge text-bg-primary">{{ task.importance.name }}</small>
            {% elif task.importance.name == 'Urgently' %}
            <small>Importance: </small><small class="badge text-bg-warning">{{ task.importance.name }}</small>
            {% endif %}
        </a>
        {% endfor %}
    </div>
    <a href="{% url 'completed' %}" class="btn btn-outline-dark">Check completed tasks</a>
</div>

{% endblock %}