{% extends 'base.html' %}


{% block content %}
<h1 style="text-align:center">Notes</h1>
<div class="container">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'add' %}" class="btn btn-outline-success">Add task</a>
        <a href="{% url 'completed' %}" class="btn btn-outline-dark">Check completed tasks</a>

    </div>
</div><br />
<div class="card">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
        <a href="{% url 'notes' %}" class="btn btn-outline-secondary" for="btnradio1">All</a>
        {% if importance.name == 'Just' %}
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
        <a href="{% url 'importance_choose' 'Just' %}" class="btn btn-outline-primary" for="btnradio2">Just</a>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <a href="{% url 'importance_choose' 'Urgently' %}" class="btn btn-outline-warning" for="btnradio3">Urgenty</a>
        {% elif importance.name == 'Urgently' %}
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" >
        <a href="{% url 'importance_choose' 'Just' %}" class="btn btn-outline-primary" for="btnradio2">Just</a>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked>
        <a href="{% url 'importance_choose' 'Urgently' %}" class="btn btn-outline-warning" for="btnradio3">Urgenty</a>
        {% endif %}
    </div>
    <div class="list-group">
        {% for task in tasks %}
        <a href="{% url 'detail' task.pk %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ task.title }}</h5>
                {% if task.time_created == task.time_updated %}
                <small>{{ task.time_created|date:'l | H:i | j.m.Y' }}</small>
                {% else %}
                <small>Updated: {{ task.time_updated|date:'l | H:i | j.m.Y' }}</small>
                {% endif %}
            </div>
            {% if task.importance.name == 'Just' %}
            <small>Importance: </small><small class="badge text-bg-primary">{{ task.importance.name }}</small>
            {% elif task.importance.name == 'Urgently' %}
            <small>Importance: </small><small class="badge text-bg-warning">{{ task.importance.name }}</small>
            {% endif %}
        </a>
        {% endfor %}
    </div>

{% endblock %}